.App {
  /* padding: 10px; */
  text-align: center;
  /* height:1000px; */
  width: 100%;
  height: auto;
  background: #cfdcf9;
  display: flex;
  flex-direction: column;
  flex:1;

}

.displayPage{
  height: 711px;
  /* display: flex; */
}

.container{
  background-color: "black";
  opacity: "0.8";
  height: 711px;
  /* flex:3; */
  background: "black";
  opacity: "0.8";
  width: "90%";
  margin: "5%";

}

.headerContainer{
  display: flex;
  color: #ffffff;
  height: "20px";
  align-items: flex-start;
}

.footerContainer{
  display: flex;


}
.headerLogo{
  flex:1;

}

.headerLinks{
  flex:4;
  justify-content: space-around;
}

.box1{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageLinks{
  display: flex;
}

.pageLinks a{
  color: white;
  text-decoration: none;
}

.pageLinks a:hover{
  color:red;
}

.box2{
  flex:1;
}

.box3{
  flex:1;
  align-items: flex-start;
}

.footerContainer div{
  /* border: 1px #ccc solid; */
  padding:2px;
}




.route hover{
  color: red;
}

.headerDiv{
  padding-Top: 0px;
  height: 40px;
  /* text-align: center; */
}
.footerDiv{
  /* flex:2; */
  /* background: black; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
