.picContainer {
    flex: 1.5;


}

.picContainer img {
    opacity: 0.5;
}

.formBox {
    background-color: #EEEEEE, 100%;
    flex: 1;
    height: 900px;
    width: 864px;
    padding-right: 20%;
}

.topBox {
    display: flex;
    justify-content: center;
}

#message {
    color: #888888;
    font-size: 44px;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    height: 161px;
    width: 599px;
}

.conainer1 {
    padding: 10px;
    position: relative;
    left: 128px;
    width: 620px;

}

.formBox form .conainer1 input {
    display:block;
    margin-bottom:10px;
    width:540px;
    color: #888888;
    font-size: 18px;
    text-align: left;
  }

  .formBox form .conainer1 input {
    border:1px solid #CCC;
    padding:10px;
    font-size: 30%;
  }

  .conainer2 {
    padding: 10px;
    position: relative;
    left: 128px;
    width: 620px;
    display: flex;
    flex-direction: row;

}

.formBox form .conainer2 input {
  border:1px solid #CCC;
  padding:10px;
  font-size: 70%;
}
.conainer3 {
    font-size: 15px;
    font-family: Arial;
}

.formBox form .conainer3 label {
    color: #aaaaaa;
    padding: 20px;

}


  .bottomBox {
    background-color: #FFFFFF;
    height: 125px;
    width: 864px;
    position: relative;
    top: 187px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.logoLink {
    font-family: Arial;
    font-size: 24px;
    text-decoration: underline;
    color: #aaaaaa;
    position: left;
    text-align: left;
    padding-right: 35%;

}


.logoLink:hover {
  color: #888888;
}
