@media(min-width:468px) {
  .container1 {
    display: flex;
    /*border: 1px black solid;*/
    padding: 1em;
    justify-content: center;
    margin: 1em;
    flex-wrap: wrap;
    background-color: white;
  }

  .box1 {
    flex: 1;
    /*border: 1px black solid;*/
    min-width: 30%;
    margin: 10px;
    justify-content: center;
  }

  .box2 {
    flex: 2;
    /*border: 1px black solid;*/
    min-width: 0;
    font-size: 1.3vw;
    overflow: hidden;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    color: #4D5CA2;
    text-align: right;
  }

  .container2 {
    display: flex;
    /*border: 1px black solid;*/
    padding: 1em;
    justify-content: center;
    margin: 1em;
    flex-wrap: wrap;
    background-color: white;
  }

  .box4 {
    flex: 1;
    /*border: 1px black solid;*/
    min-width: 30%;
    margin: 10px;
    justify-content: center;
  }

  .box3 {
    flex: 2;
    /*border: 1px black solid;*/
    min-width: 0;
    font-size: 1.3vw;
    overflow: hidden;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
    color: #4D5CA2;
    text-align: left;
  }

  img {
    max-width: 100%;
  }

}
